:root {
    --primary-color: #D72323;
    --secondary-color: #000000;
    --tertiary-color: #3E3636;
    --font-color: #D3D6DB;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Epilogue, sans-serif;
}

.nav {
    display: flex;
    justify-content: space-between;
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 8vh;
    box-sizing: border-box;
    align-items: center;
    background-color: var(--primary-color);
    transition: background-color 0.5s;
}

.scroll-nav {
    background-color: var(--secondary-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: background-color 0.5s;
}

.menu {
    cursor: pointer;
    display: none;
}

.hamburguer {
    position: relative;
    display: block;
    background: #fff;
    width: 30px;
    height: 2px;
    top: 29px;
    left: 15px;
    transition: 0.5s ease-in-out;
}

.hamburguer:before,
.hamburguer:after {
    background: #ffff;
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    transition: 0.5s ease-in-out;
}
  
.hamburguer:before {
    top: -10px;
}
  
.hamburguer:after {
    bottom: -10px;
}
  
input {
    display: none;
}

input:checked ~ label .hamburguer {
    transform: rotate(45deg);
}

input:checked ~ label .hamburguer:before {
    transform: rotate(90deg);
    top: 0;
}
  
input:checked ~ label .hamburguer:after {
    transform: rotate(90deg);
    bottom: 0;
}

input:checked ~ .menu-hamburguer-elements{
    left: 0;
}

ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    color: var(--font-color);
}

li {
    margin-right: 1rem;
}

a {
    text-decoration: none;
    color: var(--font-color);
    font-weight: bold;
    font-size: 1.25rem;
}

a:hover {
    font-size: 1.3rem;
    color: rgb(204, 204, 204);
}


.carinhas {
    display: inline-block;
    position: relative;
    height: 34px;
    width: 100px;    
    color: var(--font-color);
    font-size: 1.7rem;
    font-weight: bold;
    left: 1%;
    top: 3px;
    bottom: 1%;
    font-style: italic;
}

.carinha {
    top: 0;
    left: 0;
    position: absolute;
    overflow: hidden;
    animation: animaCarinhas 12s linear infinite;
    opacity: 0;
    width: 150px;
    animation: animaCarinhas 12s linear infinite;
    animation-name: animaCarinhas;
    animation-duration: 12s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;

  }
  
  
  @keyframes animaCarinhas {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    2% {
        opacity: 1;
        transform: translateY(0);
    }
    18% {
        opacity: 1;
        transform: translateY(0);
    }
    20% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 0;
        transform: translateY(20px);
    }
  }
  
  .carinha:first-child {
    animation-delay: 0s;
  }
  
  .carinha:nth-child(2) {
    animation-delay: 2s;
  }
  
  .carinha:nth-child(3) {
    animation-delay: 4s;
  }
  
  .carinha:nth-child(4) {
    animation-delay: 6s;
  }
  
  .carinha:nth-child(5) {
    animation-delay: 8s;
  }
  
  .carinha:nth-child(6) {
    animation-delay: 10s;
  }

#inicio {
    position: relative;
    display: flex;
    padding: 0 20px;
    box-sizing: border-box;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100vh;
    background-color: var(--primary-color);
}

#apresentacao {
    margin-right: 1rem;
    padding: 0;
    box-sizing: border-box;
    position: absolute;
}


#meu-nome {
    font-size: 20vw;
    font-weight: bold;
    color: var(--font-color);
    text-align: center;
}

#meu-nome h1 {
    font-size: 20vw;
    font-weight: bold;
    color: var(--font-color);
    text-align: center;
}

#sobre {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 140px 0 134px;
    width: 100%;
    font-size: 1.5rem;
    background-color: var(--secondary-color);
    margin: 0;
    color: var(--font-color);
    height: 100vh;
}

#div-titulo-sobre {
    font-size: 5rem;
    margin-left: 5rem;
    transform: rotate(-90deg);
    text-decoration: underline;
    text-decoration-thickness: 8px;
}


#div-texto-sobre {
    margin-right: 10rem;
    margin-left: 3rem;
    text-align: justify;
    margin-bottom: 1rem;
    font-size: 2rem;
}

#projetos {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 140px 0 140px;
    width: 100%;
    font-size: 1.5rem;
    background-color: #3E3636;
    margin: 0;
    color: var(--font-color);
    height: 100vh;
}

#div-titulo-projetos {
    top: 0;
    left: 0;
    margin-top: 5rem;
    margin-bottom: 5rem;
    font-size: 5rem;
    transform: rotate(-90deg);
    text-decoration: underline;
    text-decoration-thickness: 8px;
}

.pjt a {
    display: inline-block;
    justify-content: center;
    align-items: center;
    padding: 140px 0 140px;
    width: 100%;
    font-size: 2.5rem;
    background-color: var(--tertiary-color);
    margin: 0;
    color: var(--font-color);
    padding: 2rem;
    padding-right: 0;
    margin-right: 0;
    margin-left: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.pjt a:hover {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

.normal {
    font-weight: normal;
}

#contato {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 140px 0 140px;
    width: 100%;
    font-size: 1.5rem;
    background-color: var(--primary-color);
    margin: 0;
    color: var(--font-color);
    height: 100vh;
}
                                                                                                                                                                                                                                                                                    
#div-titulo-contato {
    margin-left: 5rem;
    font-size: 5rem;
    transform: rotate(-90deg);
    text-decoration: underline;
    text-decoration-thickness: 4px;
}

#div-texto-contato {
    margin-right: 10rem;
    margin-left: 3rem;
    text-align: justify;
    margin-bottom: 1rem;
    font-size: 2rem;
}

.cont {
    display: block;
    font-size: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.cont a {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 2rem;
    color:#000000;
    font-weight: 500;
}   

.cont a:hover {
    text-decoration: underline;
    text-decoration-thickness: 4px;
}

#posts {
    display: block;
    justify-content: center;
    align-items: center;
    padding: 140px 0 140px;
    width: 100%;
    font-size: 1.5rem;
    background-color: var(--secondary-color);
    margin: 0;
    color: var(--font-color);
    height: 100vh;

}


footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    width: 100%;
    font-size: 1.5rem;
    background-color: var(--primary-color);
    margin: 0;
    color: var(--font-color);
    height: 8vh;
}

@media (max-width: 768px) {

    header {
        height: 20%;
    }

    .show {

        display: flex;
        width: auto;
        flex-direction: column;
        align-self: flex-start;
        overflow: auto;
        z-index: 1;
        color: white
    }

    .menu-hamburguer-elements{
        width: 60%;
        height: 100%;
        background-color: rgba(10,10,10,.9);
        position: fixed;
        left: -60%;
        top: 0;
    
        transition: left cubic-bezier(1,0,0,1) .8s;
        
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    
        padding-top: 15vh;
    
        z-index: -1;
    }

    .menu{
        display: flex;
        height: 60px;
        width: 60px;
        font-size: 2rem;
        align-items: center;
        color: var(--font-color);
    }

    #sobre {
        display: block;
    }

    #div-titulo-sobre {
        font-size: 3rem;
        margin-left: 2.3rem;
        transform: rotate(-15deg);
        margin-bottom: 3rem;
    }

    #div-texto-sobre {
        margin-right: 2rem;
        margin-left: 2rem;
        margin-top: 6rem;
    
    }

    #projetos {
        display: block;
    }

    #div-titulo-projetos {
        font-size: 3rem;
        margin-top: 2rem;
        margin-bottom: 2rem;
        transform: rotate(-15deg);
    }

    .pjt a {
        display: block;
        margin-top: 2rem;
    }

    #contato {
        display: block;
    }

    #div-titulo-contato {
        font-size: 3rem;
        margin-left: 2.3rem;
        transform: rotate(-15deg);
    }

    #div-texto-contato {
        margin-right: 2rem;
        margin-left: 2rem;
        margin-top: 6rem;
    }

    .cont {
        display: block;
        font-size: 2rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .cont a {
        margin-top: 1rem;
        margin-bottom: 1rem;
        font-size: 2rem;
        color:#000000;
        font-weight: 500;
    }

}